@import "@fontsource/inter";

#root{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    max-width: 100%;
    font-family: "Inter", "Inter Fallback";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}