
body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
}
.high-card {
  max-width: 800px;
  height: 80vh;
}
html[data-bs-theme="dark"] .shadow{
 box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15) !important;
}
.filter-reverse{
  filter: invert();
}
.btn{
  transition: background 0.5s ease, color 0.5s ease;
}
::-webkit-scrollbar{
  display: none;
}
.nav-pills .nav-link.active{
  background-color: var(--grey-color);
  box-shadow: var(--grey-color) 1px 1px 20px;
  border: 1px solid var(--grey-color) !important;
}
.nav-link{
  color: var(--grey-color);
  border: 1px solid transparent;
  font-weight: 700;
  transition: 300ms all ease-in-out;
}
html[data-bs-theme="dark"]{
  --navlink-color: white;
  --grey-color: #526375;
}
html[data-bs-theme="light"]{
  --navlink-color: black;
  --grey-color: #526375;
}
.nav-link:focus, .nav-link:hover {
  color: var(--navlink-color);
  box-shadow: var(--grey-color) 1px 1px 20px;
  border: 1px solid var(--grey-color) !important;
}
.width-15{
  width: 15rem;
}
input[type="checkbox"] {
  cursor: pointer;
}
@media (max-width: 767.98px) {
  #sideLeftBar {
    display: none !important;
  }

  .d-md-none {
    display: block !important;
  }
}
@media (min-width: 768px) {
  #sideLeftBar {
    display: block !important;
  }

  .d-md-none {
    display: none !important;
  }
}

.cursor-pointer{
  cursor: pointer;
}