@import "@fontsource/inter";

#root {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  max-width: 100%;
  font-family: "Inter", "Inter Fallback";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}